/*reset css*/
*,body,p,div,ul,li,ol,a,article,aside,h1,h2,h3,h4,h5,h6{
	text-decoration:none;
	border:none;
	padding:0;
	margin:0;
}
ul,ol{
	list-style:none;
}
html{
	width:100%;
	height:100%;
	background:#09c;
}
body{
	width:100%;
	height:100%;
	overflow:hidden;
}
a{
	color:white;
}
.bold{
	font-weight:bold;
}

/*common css*/
.hidden{
	display:none;
}
.tabs{
	width:100%;
	height:100%;
	position:absolute;
	top: 0;
	left:100%;
	overflow: auto;
	background: #FF8B30;
}
.tabWrapper {
	width: 940px;
	margin: 0 auto;
	margin-top: 150px;
}
::selection {
	background: #FF4215;
	color: yellow;
}
::-webkit-scrollbar {
	width: 13px;
}
::-webkit-scrollbar-thumb {
	background-clip: padding-box;
	min-height: 28px;
	background: #09C;
	border-left: 1px solid #6F0200;
}
::-webkit-scrollbar-track-piece {
	background: black;
	border-left: 1px solid black;
}
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
.img200{
	width:200px;
}
.viewsWrapper {
	padding: 10px;
	background: white;
	width: 200px;
	position: absolute;
	cursor:pointer;
}

/*navigation css*/
#nav{
	width: 960px;
	margin: 0 auto;
	/*background: #FFFFFF;
	box-shadow: 0 0 10px black;*/
	position: relative;
	z-index: 9;
	border-bottom: 5px solid #F00;
	position:fixed;
}
#logoLink {
	right: 50px;
	position: absolute;
	bottom: 17px;
}
@keyframes logo-in{
	0%	{opacity:0;transform:translate(0px,-50px);}
	25%	{opacity:0.5;transform:translate(0px,0);}
	45%	{opacity:0.7;transform:translate(0px,-20px);}
	100% {opacity:1;transform:translate(0,0);}
}
@-webkit-keyframes logo-in{
	0%	{opacity:0;-webkit-transform:translate(0px,-50px);}
	20%	{opacity:0.5;-webkit-transform:translate(0px,0px);}
	40%	{opacity:0.5;-webkit-transform:translate(0px,-30px);}
	60%	{opacity:0.7;-webkit-transform:translate(0px,0px);}
	80%	{opacity:0.7;-webkit-transform:translate(0px,-10px);}
	100% {opacity:1;-webkit-transform:translate(0,0);}
}
@-moz-keyframes logo-in{
	0%	{opacity:0;-moz-transform:translate(0px,-50px);}
	25%	{opacity:0.5;-moz-transform:translate(0px,0);}
	45%	{opacity:0.7;-moz-transform:translate(0px,-20px);}
	100% {opacity:1;-moz-transform:translate(0,0);}
}
@-o-keyframes logo-in{
	0%	{opacity:0;-o-transform:translate(0px,-50px);}
	25%	{opacity:0.5;-o-transform:translate(0px,0);}
	45%	{opacity:0.7;-o-transform:translate(0px,-20px);}
	100% {opacity:1;-o-transform:translate(0,0);}
}
#logoImage{
	width:80px;
	height:80px;
	animation:logo-in .8s ease-in forwards;
	-webkit-animation:logo-in .8s ease-in forwards;
	-moz-animation:logo-in .8s ease-in forwards;
	-o-animation:logo-in .8s ease-in forwards;
	transition:margin-bottom .2s;
	-webkit-transition:margin-bottom .2s;
	-moz-transition:margin-bottom .2s;
	-o-transition:margin-bottom .2s;
	opacity:0;
}
#logoImage:hover{
	margin-bottom:5px;
}
#navList{
	float: right;
	margin-top: 50px;
	width: 960px;
	margin-bottom: 20px;
	/*background: black;*/
}
.navLi{
	float:left;
}
.navItem {
	padding: 15px 40px;
	display: inline-block;
	/*background: black;*/
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	transition: all ease-out .3s;
	-webkit-transition: all ease-out .3s;
	-moz-transition: all ease-out .3s;
	-o-transition: all ease-out .3s;
	font-size: 1.1em;
	text-shadow: 1px 1px 1px #8B8B8B;
}
.navLi:hover .navItem {
	background: #D1D1D1;
	color:#E70000;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	/*top: -5px;*/
}

/*home tab css*/
#homeTab{
	left:0;
	background: url('../images/tile_fallback.png') repeat #F8F8F8;
}
.selfBrief{
	padding-left: 280px;
	padding-bottom: 50px;
}
.selfBrief span{
	background:red;
	color:yellow;
	display:inline-block;
	margin-right:2px;
	margin-bottom:2px;
	font-size:30px;
	font-family: "Times New Roman";
	padding: 0 15px;
}
.selfBrief .hello{
	font-family: calibri;
	font-size:120px;
}
.selfBrief .interest {
	background: #004E29;
	color: #FFF;
}
.footer {
	background: black;
	color: white;
	font-family: calibri;
	padding: 40px;
	overflow: hidden;
	zoom: 1;
	height: 180px;
}
#footerLogo{
	margin-right:20px;
	border: 3px solid white;
	box-shadow: 0 0 5px 1px #09C;
	width:140px;
	height:140px;
}
.column {
	float: left;
	padding-left: 10px;
	border-left: 1px dotted #424242;
	height: 100%;
	width:220px;
	line-height: 30px;
}
.column p {
	font-size: 20px;
	font-weight: bold;
	color: yellow;
}
.siteTip {
	font-size: 13px;
	border-radius: 5px;
	padding: 4px;
	background: #FF2C2C;
	position:relative;
	margin-left: 10px;
	opacity:0;
}
a:hover+.siteTip{
	animation:showTip .2s ease-in forwards;
	-webkit-animation:showTip .2s ease-in forwards;
	-moz-animation:showTip .2s ease-in forwards;
	-o-animation:showTip .2s ease-in forwards;
}
@keyframes showTip{
	from {opacity:0;-webkit-transform:translate(50px,0);}
	to {opacity:1;-webkit-transform:translate(0,0);}
}
@-webkit-keyframes showTip{
	from {opacity:0;-webkit-transform:translate(50px,0);}
	to {opacity:1;-webkit-transform:translate(0,0);}
}
@-moz-keyframes showTip{
	from {opacity:0;-moz-transform:translate(50px,0);}
	to {opacity:1;-moz-transform:translate(0,0);}
}
@-o-keyframes showTip{
	from {opacity:0;-o-transform:translate(50px,0);}
	to {opacity:1;-o-transform:translate(0,0);}
}
.tipArrow {
	border: 6px solid #FF2C2C;
	position: absolute;
	left: -11px;
	top: 5px;
	display: inline-block;
	width: 0;
	height: 0;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-top-color: transparent;
}

/*bike tab css*/
#bikeTab{
	background: #C3FFE2;
	left:100%;
}
#bikeSlide,#bikeSlide2{
	width:100%;
	height:1000px;
	position:relative;
}
#bikeSlide{
	background:url('../images/bg1.jpg') no-repeat fixed;
	background-size:100% 100%;
}
.viewImage1{
	left: 450px;
	top: 280px;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-o-transform: rotate(30deg);
}
#bikeSlide:hover .viewImage1,
#bikeSlide2:hover .viewImage1{
	animation:viewImage1 .5s ease-in forwards;
	-webkit-animation:viewImage1 .5s ease-in forwards;
	-moz-animation:viewImage1 .5s ease-in forwards;
	-o-animation:viewImage1 .5s ease-in forwards;
}
@keyframes viewImage1{
	0% {left:450px;top:280px;}
	100% {left:100px;top:100px;}
}
@-webkit-keyframes viewImage1{
	0% {left:450px;top:280px;}
	100% {left:100px;top:100px;}
}
@-moz-keyframes viewImage1{
	0% {left:450px;top:280px;}
	100% {left:100px;top:100px;}
}
@-o-keyframes viewImage1{
	0% {left:450px;top:280px;}
	100% {left:100px;top:100px;}
}
.viewImage2{
	right: 300px;
	top: 400px;
	transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	-o-transform: rotate(60deg);
}
#bikeSlide:hover .viewImage2,
#bikeSlide2:hover .viewImage2{
	animation:viewImage2 .5s ease-in forwards;
	-webkit-animation:viewImage2 .5s ease-in forwards;
	-moz-animation:viewImage2 .5s ease-in forwards;
	-o-animation:viewImage2 .5s ease-in forwards;
}
@keyframes viewImage2{
	0% {right:300px;top:400px;transform: rotate(60deg);}
	100% {right:200px;top:150px;transform: rotate(-20deg);}
}
@-webkit-keyframes viewImage2{
	0% {right:300px;top:400px;-webkit-transform: rotate(60deg);}
	100% {right:200px;top:150px;-webkit-transform: rotate(-20deg);}
}
@-moz-keyframes viewImage2{
	0% {right:300px;top:400px;-moz-transform: rotate(60deg);}
	100% {right:200px;top:150px;-moz-transform: rotate(-20deg);}
}
@-o-keyframes viewImage2{
	0% {right:300px;top:400px;-o-transform: rotate(60deg);}
	100% {right:200px;top:150px;-o-transform: rotate(-20deg);}
}
.viewImage3{
	left: 500px;
	top: 300px;
	transform: rotate(-50deg);
	-webkit-transform: rotate(-50deg);
	-moz-transform: rotate(-50deg);
	-o-transform: rotate(-50deg);
}
#bikeSlide:hover .viewImage3,
#bikeSlide2:hover .viewImage3{
	animation:viewImage3 .3s ease-in-out .3s forwards;
	-webkit-animation:viewImage3 .3s ease-in-out .3s forwards;
	-moz-animation:viewImage3 .3s ease-in-out .3s forwards;
	-o-animation:viewImage3 .3s ease-in-out .3s forwards;
}
@keyframes viewImage3{
	0% {left:500px;top:300px;transform: rotate(-50deg);}
	100% {left:250px;top:550px;transform: rotate(10deg);}
}
@-webkit-keyframes viewImage3{
	0% {left:500px;top:300px;-webkit-transform: rotate(-50deg);}
	100% {left:250px;top:550px;-webkit-transform: rotate(10deg);}
}
@-moz-keyframes viewImage3{
	0% {left:500px;top:300px;-moz-transform: rotate(-50deg);}
	100% {left:250px;top:550px;-moz-transform: rotate(10deg);}
}
@-o-keyframes viewImage3{
	0% {left:500px;top:300px;-o-transform: rotate(-50deg);}
	100% {left:250px;top:550px;-o-transform: rotate(10deg);}
}
.viewImage4{
	left: 400px;
	bottom: 250px;
	transform: rotate(50deg);
	-webkit-transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-o-transform: rotate(50deg);
}
#bikeSlide:hover .viewImage4,
#bikeSlide2:hover .viewImage4{
	animation:viewImage4 .8s .2s forwards;
	-webkit-animation:viewImage4 .8s .2s forwards;
	-moz-animation:viewImage4 .8s .2s forwards;
	-o-animation:viewImage4 .8s .2s forwards;
}
@keyframes viewImage4{
	0% {left:400px;bottom:250px;transform:rotate(-50deg);}
	50% {left:550px;bottom:350px;transform:rotate(50deg);}
	100% {left:400px;bottom:450px;transform:rotate(-20deg);}
}
@-webkit-keyframes viewImage4{
	0% {left:400px;bottom:250px;-webkit-transform:rotate(-50deg);}
	50% {left:550px;bottom:350px;-webkit-transform:rotate(50deg);}
	100% {left:400px;bottom:450px;-webkit-transform:rotate(-20deg);}
}
@-moz-keyframes viewImage4{
	0% {left:400px;bottom:250px;-moz-transform:rotate(-50deg);}
	50% {left:550px;bottom:350px;-moz-transform:rotate(50deg);}
	100% {left:400px;bottom:450px;-moz-transform:rotate(-20deg);}
}
@-o-keyframes viewImage4{
	0% {left:400px;bottom:250px;-o-transform:rotate(-50deg);}
	50% {left:550px;bottom:350px;-o-transform:rotate(50deg);}
	100% {left:400px;bottom:450px;-o-transform:rotate(-20deg);}
}
.viewImage5{
	right: 400px;
	bottom: 300px;
	transform: rotate(50deg);
	-webkit-transform: rotate(50deg);
	-moz-transform: rotate(50deg);
	-o-transform: rotate(50deg);
}
#bikeSlide:hover .viewImage5,
#bikeSlide2:hover .viewImage5{
	animation:viewImage5 .5s .3s forwards;
	-webkit-animation:viewImage5 .5s .3s forwards;
	-moz-animation:viewImage5 .5s .3s forwards;
	-o-animation:viewImage5 .5s .3s forwards;
}
@keyframes viewImage5{
	0% {transform:rotate(50deg);}
	100% {transform:rotate(-30deg);}
}
@-webkit-keyframes viewImage5{
	0% {-webkit-transform:rotate(50deg);}
	100% {-webkit-transform:rotate(-30deg);}
}
@-moz-keyframes viewImage5{
	0% {-moz-transform:rotate(50deg);}
	100% {-moz-transform:rotate(-30deg);}
}
@-o-keyframes viewImage5{
	0% {-o-transform:rotate(50deg);}
	100% {-o-transform:rotate(-30deg);}
}
.viewImage6{
	right: 300px;
	bottom: 200px;
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
}
#bikeSlide:hover .viewImage6,
#bikeSlide2:hover .viewImage6{
	animation:viewImage6 .5s forwards;
	-webkit-animation:viewImage6 .5s forwards;
	-moz-animation:viewImage6 .5s forwards;
	-o-animation:viewImage6 .5s forwards;
}
@keyframes viewImage6{
	0% {right:300px;bottom:200px;transform:rotate(-30deg);}
	100% {right:100px;bottom:100px;transform:rotate(30deg);}
}
@-webkit-keyframes viewImage6{
	0% {right:300px;bottom:200px;-webkit-transform:rotate(-30deg);}
	100% {right:100px;bottom:100px;-webkit-transform:rotate(30deg);}
}
@-moz-keyframes viewImage6{
	0% {right:300px;bottom:200px;-moz-transform:rotate(-30deg);}
	100% {right:100px;bottom:100px;-moz-transform:rotate(30deg);}
}
@-o-keyframes viewImage6{
	0% {right:300px;bottom:200px;-o-transform:rotate(-30deg);}
	100% {right:100px;bottom:100px;-o-transform:rotate(30deg);}
}
#bikeSlide2{
	background:url('../images/bike.jpg') no-repeat fixed;
	background-size:100% 100%;
	background-position-x: 50%;
}

/*music tab css*/
#musicTab{
	background: #ECFFC3;
	left:200%;
}
#album {
	overflow: hidden;
	position:relative;
}
#album_block{
	position: absolute;
	background: #000;
	width: 100%;
	height: 100%;
	opacity: .5;
	filter: alpha(opacity=50);
	display: none;
}
#album_detail{
	position: absolute;
	display: none;
}
#singer_img{
	width:300px;
	min-height:100px;
	opacity: 1;
	filter: alpha(opacity=100);
}
.album_column {
	width: 220px;
	margin-left: 15px;
	float: left;
}
.musicImg {
	border: 5px solid #FFF;
	display: inline-block;
	width: 210px;
	margin-bottom: 3px;
	min-height:100px;
	background:#fff;
	cursor:pointer;
}

/*blank tab css*/
#blankTab{
	background: #C3D6FF;
	left:300%;
	background:url('../images/orbea.jpg') 50% 50%;
}

/*blank2 tab css*/
#blankTab2{
	background: #FFE8E8;
	left:400%;
}

/* model */
#modelBg{
	position:fixed;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:9998;
}
#model{
	position:fixed;
	padding:5px;
	z-index:9999;
	background: whiteSmoke;
}
#modelImage{
	width:500px;
}